.empty_cart_div {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.empty_cart_image{
     width: 250px;
    height: 250px;
}

.empty_cart_p {
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 20px;
}

.empty_cart_button {
  background-color: black;
  color: #fff;
  font-size: larger;
  border-width: 0px;
  padding: 20px;
  transition: 0.5 ease-in;
}
.empty_cart_button:hover {
  color: #fff;
  background-color: #800080;
}
