body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
  background-color: rgba(246, 240, 227, 0.668);
}
* {
  margin: 0;
  font-family: helvetica;
  box-sizing: border-box;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}

/* ===================================
                  nav bar 
======================================*/
<<<<<<< HEAD
nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navBack {
  white-space: nowrap;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-radius: 8px;
  /* background-color: #fff; */
}
.navBar {
  display: inline-block;
  width: 60%;
  position: absolute;
  bottom: 60%;
}
.mainImg {
  width: 40%;
  display: inline-block;
}
.mainImg img {
  width: 100px;
  max-width: 100%;
}

=======
.navBar {
  height: 100px;
  display: flex;
  margin: 0 50px;
  align-items: center;
}
.mainImg {
  display: block;
  /* min-width: 40%; */
  flex-grow: 1;
}

.mainImg img {
  width: 100px;
  height: 100px;
}
/* .navBar div:last-child {
  margin-top: 40px;
} */
>>>>>>> 414250be7690521aaf3488604d9f0f01ea1174e9
.navLink a {
  position: relative;
  padding-top: 6px;
  border-radius: 8px;
  color: black;
  margin: 20px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  z-index: 1;
}
<<<<<<< HEAD
.navLink {
  display: inline-block;
=======
a {
  text-decoration: none;
  /* color: inherit; */
>>>>>>> 414250be7690521aaf3488604d9f0f01ea1174e9
}

.navLink a::before {
  content: " ";
  position: absolute;
  background: #9a9a9a;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  /* transform: scaley(0); */
  animation: 1s forwards ani1 linear;
  z-index: -1;
  border-radius: 6px;
}
.navLink a:hover::before,
.navLink a:focus::before {
  animation: 0.5s forwards ani2 linear;
}
@keyframes ani2 {
  0% {
    transform: scaleX(0);
    height: 0%;
  }
  45% {
    transform: scaleX(1);
    height: 45%;
  }
  55% {
    height: 55%;
  }
  100% {
    transform: scaleX(1);
    height: 100%;
  }
}
@keyframes ani1 {
  0% {
    transform: scaleX(1);
    height: 20px;
  }
  45% {
    height: 5px;
  }
  55% {
    transform: scaleX(1);
    height: 5px;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    height: 5px;
    opacity: 0.02;
  }
}
.userItm {
  margin-left: 60px;
  display: inline-block;
  color: black;
}
.userItm div,
.userItm a {
  text-transform: uppercase;
  margin-left: 15px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
.itm {
  margin-left: 4px;
}
.miniNav {
  flex-direction: column;
  background-color: gainsboro;
  color: #333;
  position: absolute;
  border-radius: 8px;
  top: 20px;
  padding: 4px;
  right: 110px;
  z-index: 1;
}
.miniNav a {
  display: flex;
  padding: 6px;
  font-size: 14px;
}
.miniNav a:last-child {
  background-color: aliceblue;
  width: 100;
  padding: 8px;
  border-radius: 10px;
  margin-left: 0px;
}
.search {
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 58%;
  left: 77%;
  background-color: rgb(228, 224, 224);
  z-index: 0;
}
.search input {
  border-radius: 4px;
  width: 250px;
  border: 0px;
  padding: 5px;
}
.search > * {
  margin: 2px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .navBack,
  .navBar {
    width: 100%;
  }
  .navLink a {
    padding-top: 6px;
    margin: 3px;
    font-size: 13px;
  }
  .mainImg {
    width: 20%;
    display: inline-block;
  }
  .navBar {
    display: flex;
    width: 80%;
    left: 10px;
    flex-direction: column;
    bottom: 30%;
  }

  .userItm div,
  .userItm a {
    margin-top: 10px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 13px;
  }
  .miniNav {
    top: 35px;
    z-index: 1;
  }
  .search {
    top: 90%;
    right: 40%;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  .search input {
    width: 80%;
  }
}
/* ===================================
              fixed width 
======================================*/
.fixedWidth {
  width: 1200px;
  margin: 20px auto;
  display: flex;
}
